<div class="character-container">
  <h2 style="margin:0px 0px 5px 0px;text-align: center;">Character</h2>
    <article *ngIf="currentCharacter">
      <div class="character-image" >
        <img [src]="currentCharacter.image"/>
      </div>
      <div class="character-info">
          <h1>{{ currentCharacter.name }}</h1>
          <p>Status: <strong>{{ currentCharacter.status | titlecase }}</strong></p>

          <p>Species: <strong>{{ currentCharacter.species | titlecase }}</strong></p>

          <p>Type: <strong>{{ currentCharacter.type | titlecase }}</strong></p>

          <p title="Go to location" class="last-location">Last known location: <strong>{{ currentCharacter.location.name | titlecase }}</strong></p>

          <p title="Go to episode" class="first-episode">First seen in: <strong>{{ currentCharacter.firstEpisodeName | titlecase }}</strong></p>

          <p>Created in: <strong>{{ currentCharacter.created | date:'yyyy-mm-dd' }}</strong></p>
      </div>
    </article>
  </div>