<section class="character-list-section">
  <h2 style="margin:0px 0px 5px 0px;text-align: center;">Characters list</h2>
  <div class="character-list-container">
    <article *ngFor="let character of characterList">
      <div class="character-image" title="Go to character" (click)="goToCharacter(character)">
        <img [src]="character.image" (load)="onCharacterImageLoad($event)" (error)="onCharacterImageLoad($event)"/>
      </div>
      <div class="character-info">
        <div class="character-info-title">
          <h1>{{ character.name }}</h1>
          <p
            [ngClass]="{
              alive: character.status == 'Alive',
              dead: character.status == 'Dead'
            }"
          >
            {{ character.status | titlecase }} -
            {{ character.species | titlecase }}
          </p>
        </div>

        <div class="character-info-detail">
          <div class='last-location'>
            <h4 style="font-weight: normal">Last known location:</h4>
          <p style="font-weight: bold">{{ character.location.name }}</p>
          </div>

          <div class='first-episode'>
            <h4>First seen in:</h4>
          <p>{{ character.firstEpisodeName }}</p>
          </div>
        </div>
      </div>
    </article>
  </div>
  <div *ngIf="!locationResidentIds() && !episodeCharacterIds()" class="character-list-pages-container">
    <div class="left-page-btns">
      <a class="first-page" title="First page" (click)="onFirstPage()"
        ><span>&#8676;</span></a
      >
      <a class="prev-page" title="Previous page" (click)="onPrevPage()"
        ><span>&#8612;</span></a
      >
    </div>

    <div class="middle-page-btns">
      <a
        *ngFor="let item of getCurrentPagesChunck()"
        [ngClass]="{ 'current-page': currentPage == item }"
        class="page-number"
        [title]="'Go to page ' + item"
        (click)="goToPage(item)"
        >{{ item }}</a
      >
    </div>
    <div class="right-page-btns">
      <a class="next-page" title="Next page" (click)="onNextPage()"
        ><span>&#8614;</span></a
      >
      <a class="last-page" title="Last page" (click)="onLastPage()"
        ><span>&#8677;</span></a
      >
    </div>
  </div>
</section>
