.desc-title{
    text-align: center;
}

.article {
    padding: 0px 1.5rem;
    max-width: 960px;
    margin: 0px auto 60px;
    min-height: 50vh;
}
/*****/
h3 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0.8125rem;
    color: inherit;
    font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 800;
    text-rendering: optimizeLegibility;
    font-size: 1.31951rem;
    line-height: 1.1;
}
h3, h4, h5, h6 {
    margin-bottom: 0.8125rem;
    margin-top: 1.625rem;
}

h2, h3 {
    margin-top: 2.4375rem;
}

p {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0.8125rem;
}

p a, li a {
    color: rgb(51, 51, 51);
    border-bottom: 2px solid rgb(255, 152, 0);
    transition: 0.1s;
}

p *:last-child {
    margin-bottom: 0;
}
 
a:hover, a:focus {
    text-decoration: none;
    border-bottom: none;
    color: rgb(255, 152, 0);
}