<article class="article">
  <h1 class="desc-title">Description</h1>
  <h3 id="what-is-this">What is this?</h3>
  <p>
    The Rick and Morty API is a REST(ish) and GraphQL API based on the
    television show. You will have access to about hundreds of characters, images, locations
    and episodes. The Rick and Morty API is filled with canonical information as
    seen on the TV show.
  </p>

  <h3 id="who-are-you">Who are we?</h3>
  <p>
    We are
    <a
      href="https://github.com/afuh"
      target="_blank"
      rel="nofollow noopener noreferrer"
      >Axel Fuhrmann</a
    >, a guy who likes to develop things and
    <a
      href="https://talitatraveler.com"
      target="_blank"
      rel="nofollow noopener noreferrer"
      >Talita</a
    >, the "Rick and Morty data scientist" and hardcore fan.
  </p>
  <h3>Why did we build this?</h3>
  <p>
    Because we were really interested in the idea of writing an open source
    project and also because Rick and Morty is our favorite show at that moment,
    so why not?
  </p>
  <h3 id="copyright">Copyright?</h3>
  <p>
    Rick and Morty is created by Justin Roiland and Dan Harmon for
    <a
      href="https://www.adultswim.com"
      target="_blank"
      rel="nofollow noopener noreferrer"
      >Adult Swim</a
    >. The data and images are used without claim of ownership and belong to
    their respective owners.
  </p>
  <p>This API is open source and uses a BSD license.</p>
</article>
